# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
convert2photopainter

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
/output/